<app-nav [showButtons]="showButtons"></app-nav>
<div class="userCont">

    <h2>Welcome {{userid[0]}}!</h2>
    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="">
    <h3>{{userid[1]}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reprehenderit nemo perferendis molestiae libero
        quo non labore ex quibusdam eos? Sit sint maiores laudantium, odit veniam asperiores eius error ipsa!</p>
    <button>More Info</button>
</div>
<!-- <app-table></app-table> -->